*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}

.card{
  margin: 20px auto;
  padding: 20px;
  height: 150px;
  width: 900px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: rgb(66, 6, 6);
  color: white;
}
.nav{
  font-size: 100px;
}