*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: rgb(231, 80, 231);
  color: white;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  color: greenyellow;
}
h2{
  color: rgb(82, 6, 22);
}
h3{
  color: rgb(47, 74, 5);
}